.App {
  text-align: center;
}
body{
	background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2013/04/14/75592/abed3f403850d8a60fc6145ef453de49.jpg");
}

button{
	font: bold 11px Arial;
	text-decoration: none;
	background-color: black;
	color: white;
	font-size: 50px;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}

.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}
.Python{
	left: 10px;
	bottom: 10px;
}